<div class="secondary-footer">
  <h2 class="footer-title container container--narrow">We’re proud to be supported by</h2>
  <div class="container container--footer-logos container--narrow">
    <a href="http://www.thepowertochange.org.uk/" class="footer-logo-link wide">
        <img class="footer-logo" src="{{ site.baseurl }}/assets/images/funders/power-to-change-b.png">
    </a>
    <a href="https://unltd.org.uk/" class="footer-logo-link medium">
        <img class="footer-logo" src="{{ site.baseurl }}/assets/images/funders/unltd-b.png">
    </a>
    <a href="http://communityshares.org.uk" class="footer-logo-link medium">
      <img class="footer-logo" src="{{ site.baseurl }}/assets/images/funders/Community-Shares-logo-b.png">
    </a>
    <a href="http://www.communitylandtrusts.org.uk/" class="footer-logo-link">
      <img class="footer-logo" src="{{ site.baseurl }}/assets/images/funders/CLT-b.png">
    </a>
    <a href="http://www.bshf.org/home.cfm" class="footer-logo-link">
      <img class="footer-logo" src="{{ site.baseurl }}/assets/images/funders/BSHF-b.png">
    </a>
  </div>
  <p class="container">Website and branding by <a href="http://letsdance.agency" target="_blank">Let’s Dance</a> – a creative collective helping good people say good things.</p>
</div>