
<footer class="site-footer">
  <div class="container">
    <div class="footer-left">
      <h2 class="footer-call">Want to talk to us? <br>Call us on 0113 450 8905</h2>
      <p>Leeds Community Homes Ltd. is registered under the Co&ndash;operative and Community Benefit Societies Act 2014 as a Community Benefit Society. Registered Number 7252.</p>
      <p>Registered Address Micklethwaite House, 70 Cross Green Lane, Leeds LS9 0DG.</p>
    </div>
    <nav class="footer-navigation">
      {% assign footer_page_paths = site.footer_pages | default: '  ' %}

      {% for page in site.pages %}
        {% if page.menu contains 'footer' %}
          <a class="page-link" href="{{ page.url | replace: 'index.html', '' }}">{{ page.title | escape }}</a>
        {% endif %}
      {% endfor %}

    </nav>
    <div class="footer-logo">
      {% include lch-logo.svg %}
    </div>

  </div>


</footer>