
<footer class="site-footer">
  <div class="container">
    <div class="footer-left">
      <p>Leeds Community Homes Ltd. is registered under the Co&ndash;operative and Community Benefit Societies Act 2014 as a Community Benefit Society. Registered Number 7252.</p>
      <p>Registered Address Micklethwaite House, 70 Cross Green Lane, Leeds LS9 0DG.</p>
    </div>
    <nav class="footer-navigation">
      {% assign footer_page_paths = site.footer_pages | default: '  ' %}

      {% if footer_page_paths %}
        {% for path in footer_page_paths %}
          {% assign my_page = site.pages | where: "path", path | first %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}

    </nav>
    <div class="footer-logo">
      {% include lch-logo.svg %}
    </div>

  </div>

</footer>