.site-footer {
  background-color: $yellow;
  background-image: linear-gradient(to top, $yellow1, $yellow2);
  padding: 2 * $base-spacing 0;
  border-top: $base-border;
  border-bottom: $base-border;
  position: relative;
  .container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $medium-screen) {
      flex-direction: row;
      align-items: center;
    }
  }
}

.footer-left {
  font-weight: 700;
  flex: 0 0 50%;
  padding-right: 2 * $base-spacing;
  p:last-child {
    margin-bottom: 0;
  }
}

.footer-call {
  font-size: modular-scale(2);
}

.footer-navigation {
  flex: 0 0 25%;
  margin: $base-spacing 0;
  @media screen and (min-width: $medium-screen) {
    margin: $base-spacing 0;
  }
  align-self: flex-start;
  .page-link {
    font-size: modular-scale(1);
    color: $base-font-color;
    font-weight: 900;
    display: block;
    padding: $small-spacing/2 0;
  }
}

.footer-logo {
  flex: 0 0 25%;
  text-align: right;
  display: none;
  @media screen and (min-width: $medium-screen) {
    display: block;
  }
}


.secondary-footer {
  padding-top: 2 * $base-spacing;
  padding-bottom: $base-spacing;
  background-color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  a {
    font-weight: 700;
  }
  .footer-title {
    font-size: modular-scale(2);
    margin-bottom: 0;
  }
}

.container--footer-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;
  padding: 0 2 * $base-spacing;
  @media screen and (min-width: $medium-screen) {
    flex-wrap: nowrap;
  }
}

.footer-logo-link {
  flex: 1 1 7.5%;
  margin-right: $base-spacing;
  @media screen and (min-width: $large-screen) {
    margin-right: $small-spacing;
  }
  @media screen and (min-width: $large-screen) {
    margin-right: $base-spacing;
  }
  &:last-child {
    margin-right: 0;
  }
  &.wide {
    flex: 1 1 100%;
    margin: $base-spacing 4 * $base-spacing;
    @media screen and (min-width: $medium-screen) {
      margin: 0;
      flex: 1 1 40%;
      margin-right: 2 * $base-spacing;
    }
    @media screen and (min-width: $large-screen) {
      flex: 1 1 37.5%;
      margin-right: 3 * $base-spacing;
    }
  }
  &.medium {
    flex: 1 1 15%;
  }
  img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height: 5 * $base-spacing;
    height: auto;
  }
}