---
layout: default
---

<section class="section section--hero">
  <div class="container">
    <div class="hero-image">
      {% include cityscape.svg %}
    </div>
    <div class="hero-text">
      <h1 class="hero-title">We’re starting a people powered homes revolution</h1>
      <a href="#what-we-do" class="button hero-button inverted large">Find out how</a>
    </div>
  </div>
</section>

<section class="section section--what-we-do" id="what-we-do">
  <div class="container container--narrow container--what-we-do">
    <h2 class="section-heading">What we do</h2>
    <p class="section-subheading">We create and enable community-led housing across Leeds City Region.</p>
    <nav class="what-we-do--areas">
      <div class="what-we-do--area">
        <div class="what-we-do--area--thumb">
          <img src="{{ site.baseurl }}/assets/images/what-hub.jpg" />
        </div>
        <div class="what-we-do--area--text">
          <h3 class="what-we-do--area--title">Our hub</h3>
          <p class="what-we-do--area--description">We’ve created a new space where we can all work together to create people powered homes</p>
          <!-- <a class="button what-we-do--area--button">Learn more</a> -->
        </div>
      </div>
      <div class="what-we-do--area">
        <div class="what-we-do--area--thumb">
          <img src="{{ site.baseurl }}/assets/images/what-houses.jpg" />
        </div>
        <div class="what-we-do--area--text">
          <h3 class="what-we-do--area--title">Our houses</h3>
          <p class="what-we-do--area--description">We’re building sixteen new permanently affordable homes in Leeds’ Climate Innovation District</p>
          <!-- <a class="button what-we-do--area--button">Learn more</a> -->
        </div>
      </div>
      <div class="what-we-do--area" href="#">
        <div class="what-we-do--area--thumb">
          <img src="{{ site.baseurl }}/assets/images/what-support.jpg" />
        </div>
        <div class="what-we-do--area--text">
          <h3 class="what-we-do--area--title">Our support</h3>
          <p class="what-we-do--area--description">We’re committed to helping emerging and existing groups produce more community-led housing</p>
          <!-- <a class="button what-we-do--area--button">Learn more</a> -->
        </div>
      </div>
    </nav>
  </div>
</section>



<section class="section section--blog">
  <h2 class="section-heading">Latest updates</h2>
  <div class="container container--blog">
    {% for post in site.posts %}
    <a href="{% if post.external_link %}{{ post.external_link }}{% else %}{{ post.url }}{% endif %}" class="blog--item" data-aos="fade-up" data-aos-ratio=".25" data-aos-delay="{{ forloop.index | minus: 1 |  times:200 }}">
      <img src="{{ site.baseurl }}{{ post.image }}" class="blog--item--icon" />
      <h3 class="blog--item--title">{{ post.title }}</h3>
      <p class="blog--item--excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate: 70 }} </p>
      <div class="blog--item--date">{{ post.date | date: "%d.%m.%y " }}</div>
    </a>
    {% endfor %}
  </div>
</section>

<section class="section section--why">
  <h2 class="section-heading">Why community-led housing matters</h2>
  <div class="container container--narrow container--why">
    <div class="why--item">
      <div class="why--item--icon">
        {% include lch-icon-affordability.svg %}
      </div>
      <div class="why--item--text" data-aos="fade-left" data-aos-ratio=".75">
        {% include dash-stripe.svg %}
        <h3 class="why--item--heading">Affordability</h3>
        <p class="why--item--description">As a Community Land Trust, affordability is what we’re all about – our aim is to create housing that’s affordable now, and for future generations too.</p>
      </div>
    </div>
    <div class="why--item">
      <div class="why--item--icon">
        {% include lch-icon-sustainability.svg %}
      </div>
      <div class="why--item--text" data-aos="fade-right" data-aos-ratio=".75">
        {% include dash-stripe.svg %}
        <h3 class="why--item--heading">Sustainability</h3>
        <p class="why--item--description">Building and renovating homes as sustainably as possible is good for the people who live in the homes, good for Leeds, and good for the planet.</p>
      </div>
    </div>
    <div class="why--item">
      <div class="why--item--icon">
        {% include lch-icon-creativity.svg %}
      </div>
      <div class="why--item--text" data-aos="fade-left" data-aos-ratio=".75">
        {% include dash-stripe.svg %}
        <h3 class="why--item--heading">Creativity</h3>
        <p class="why--item--description">To provide more affordable homes we’ll work creatively - using innovative techniques to build and finance new homes for Leeds.</p>
      </div>
    </div>

  </div>
</section>

<section class="section section--supporters">
  <h2 class="section-heading">Why people are supporting us</h2>
  <div class="container container--supporters">
    <div class="supporters--item" data-aos="fade-up" data-aos-ratio=".25">
      <div class="supporters--item--icon">
        <img src="{{ site.baseurl }}/assets/images/supporters-helen.jpg"/>
      </div>
      <div class="supporters--item--text">
        <h3 class="supporters--item--title">Helen</h3>
        <p class="supporters--item--quote">This is all about making our money work in Leeds, for Leeds</p>
      </div>
      <a target="_blank" href="https://vimeo.com/193352770" class="supporters--video-button">Watch Helen’s video</a>
    </div>
    <div class="supporters--item" data-aos="fade-up" data-aos-ratio=".25" data-aos-delay="200">
      <div class="supporters--item--icon">
        <img src="{{ site.baseurl }}/assets/images/supporters-martin.jpg" />
      </div>
      <div class="supporters--item--text">
        <h3 class="supporters--item--title">Martin</h3>
        <p class="supporters--item--quote">Anything we can do to improve affordablity is a good thing</p>
      </div>
      <a target="_blank" href="https://vimeo.com/193352770" class="supporters--video-button">Watch Martin’s video</a>
    </div>
    <div class="supporters--item" data-aos="fade-up" data-aos-ratio=".25" data-aos-delay="400">
      <div class="supporters--item--icon">
        <img src="{{ site.baseurl }}/assets/images/supporters-ann.jpg" />
      </div>
      <div class="supporters--item--text">
        <h3 class="supporters--item--title">Ann</h3>
        <p class="supporters--item--quote">Affordable housing is inaccessible to so many people</p>
      </div>
      <a target="_blank" href="https://vimeo.com/193352770" class="supporters--video-button">Watch Ann’s video</a>

    </div>
  </div>
</section>


<section class="section section--progress">
  <h2 class="section-heading">Our progress so far</h2>
  <div class="container container--narrow container--progress">
    <div class="progress--item">
      <div class="progress--item--figure"><span id="figure-members">266</span></div>
      <div class="progress--item--text">members</div>
    </div>
    <div class="progress--item">
      <div class="progress--item--figure">£<span id="figure-money">360</span>k</div>
      <div class="progress--item--text">raised</div>
    </div>
    <div class="progress--item">
      <div class="progress--item--figure"><span id="figure-homes">16</span></div>
      <div class="progress--item--text">homes started</div>
    </div>
  </div>
  <div class="container">
    {% include lch-row.svg %}
  </div>
</section>

