// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;
$max-screen: 1100px;

// Typography
$base-font-family: "Barlow","Campton";
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1.2rem;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes

$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$base-border-radius: $small-spacing/2;

// Colors
$yellow: #efc225;

$yellow1: #f5b13c;
$yellow2: #ffce26;

$dark-gray: #000;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $yellow;

// Border
$base-border-color: $dark-gray;
$base-border: .2rem solid $base-font-color;
$base-outline: .2rem solid $base-font-color;

// Box shadow

$base-box-shadow: 0 $base-spacing 4 * $base-spacing (-$base-spacing) rgba(100,100,100,.5);

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
